/***************** BODY *****************/

@media screen  and (max-width: 900px) {
	#menu {
		display: none !important;
	}

	.contenu .news {
		width: 100% !important;
	}
}

.contenu {
	width: 100%;
	margin: 2.813rem auto 0 auto;
	max-width: 150rem;
	padding: 0 3%;
	overflow: hidden;
	position: relative;
}

.contenu .news {
	display: inline-block;
	width: 75%;
	float: left;
}

.contenu #menu {
	display: inline-block;
	/*margin: 3.438rem 0 0 0;*/
	width: 25%;
	padding: 0 0 0 3%;
	float: left;
}

.news .figure .figcaption {
	transition: margin .3s ease;
}

.news .figure:hover .figcaption {
	-webkit-transition: all .35s ease-in-out .35s;
	-moz-transition: all .35s ease-in-out .35s;
	-ms-transition: all .35s ease-in-out .35s;
	-o-transition: all .35s ease-in-out .35s;
	transition: all .35s ease-in-out .35s;
	margin: -6.25em 0 0 0 !important;
}

.news .figure {
	width: 30%;
	height: 27rem;
	margin: 1.3rem 0.45rem;
	overflow: hidden;
}

.news .figure img {
	width: 100%;
	height: auto;
}

.news .figure .titre {
	text-transform: uppercase;
	cursor: pointer;
	min-height: auto;
	color: #043964;
	font-size: 1.071em;
	font-family: semiBold, sans-serif;
}

.news .grid .figure p {
	margin: 0;
	bottom: 0;
	left: 0;
	background: white;
	width: 100%;
	color: #4f7492;
	padding: 0 5%;
	font-size: .85em;
}

.news .figure .wrap_cat {
	margin: .625em 0 .575rem 10px;
}

.ActuHeader {
	display: inline-block;
	width: 100%;
}

.ActuHeader h2 {
	float: left;
	margin: 0 0 1.25em 0;
	font-family: "bold", arial, sans-serif;
	font-size: 2em;
}

h2 {
	font-family: "regular", arial;
	font-size: 1.714rem;
	color: #043964;
	margin: 0 0 1.25rem 0;
	font-weight: 400;
}

.ActuHeader p {
	margin: 0;
}

.ActuHeader a {
	float: right;
	margin: 0;
	padding: .9379999999999999rem 0;
}

a.lien::after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 1.375rem;
	height: 1.375rem;
	margin: 0 0 0 .625em;
	background: url(../img/icon/lien.png) no-repeat 50%;
}

#menu h2 {
	font-size: 2em !important;
}

.acces_rapide .item {
	margin: 1.3rem 0 1.3rem 0;
}

.acces_rapide .item a {
	color: #043964;
	display: table;
	width: 100%;
	margin: 0;
}

.acces_rapide .item .img-wrapper {
	display: table-cell;
	vertical-align: middle;
	width: 40px;
	height: 40px;
	overflow: hidden;
	position: relative;
}

.acces_rapide .item .txt {
	display: table-cell;
	vertical-align: middle;
	padding: 0 0 0 .725em;
	font-size: 1.6rem;
	font-style: italic;
}

.bulletin {
	margin-top: 2rem;
}

.bulletin img{
	padding: .7rem;

}